/*Contenido*/
.gb-contenido-titulo h1{
	padding: 5px;
	text-align: center;
	font-size: 70px;
}

.gb-contenido-1{
	padding: 5px;
	padding-bottom: 10%;
}
.gb-contenido-1 p{
	padding:20px;
}

/*Recortar la imagen*/
.overflow{
	height: 300px;
	overflow: hidden;
}